<table data-toggle='table' data-sort-name='total-wind' data-sort-order='desc' data-search='true' class="table table-hover table-bordered total-wind">
	<caption class='total-wind'><h3>Wind Totals over 16 day period (mi/hr) - <small>(<%= Days.display_all(forecasts.first.second) %>)</small></h3></caption>
	  <thead>
	    <tr>
	      <th data-field="total-mountain" data-sortable="true">Mountain <%= category %></th>
	      <th data-field="total-state" data-sortable="true">State</th>
	      <th data-field="total-high" data-sortable="true" data-sorter="totalSorter">High <small>(w1,w2)</small></th>
	      <th data-field="total-low" data-sortable="true" data-sorter="totalSorter">Low <small>(w1,w2)</small></th>
	      <th data-field="total-dir" data-sortable="true">Direction <small>(w1,w2)</small></th>
	      <th data-field="total-avg" data-sortable="true" data-sorter="totalSorter">Average <small>(w1,w2)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain1, forecast| %>
		    <tr class='total-wind'>
		    	<% mountain = Mountain.find_by(city: mountain1) %>
		      <td><%= link_to mountain.city, mountain_path(mountain.id) %></td>
		      <td><%= mountain.state.name %></td>
		      <td><%= Total.wind_high(forecast) %><small> mi/h </small></td>
		      <td><%= Total.wind_low(forecast) %><small> mi/h </small></td>
		      <td><%= Total.wind_dir(forecast) %></td>
		      <td><%= Total.wind_avg(forecast) %><small> mi/h </small></td>
		  	</tr>
			<% end %>
	  </tbody>
</table>
