<table data-toggle='table' data-sort-name='week2-wind' data-sort-order='desc' data-search='true' class="table table-hover table-bordered week2-wind">
	<caption class='week2-wind'><h3>Wind Totals over second 8 day period (mi/hr) - <small>(<%= Days.display_days_week2(forecasts.first.second) %>)</small></h3></caption>
	  <thead>
	    <tr>
	      <th data-field="week2-mountain" data-sortable="true">Week two mountains <%= category %> totals</th>
	      <th data-field="total-state" data-sortable="true">State</th>
	      <th data-field="week2-high" data-sortable="true" data-sorter="totalSorter">High <small>(w2)</small></th>
	      <th data-field="week2-low" data-sortable="true" data-sorter="totalSorter">Low <small>(w2)</small></th>
	      <th data-field="week2-dir" data-sortable="true">Direction <small>(w2)</small></th>
	      <th data-field="week2-avg" data-sortable="true" data-sorter="totalSorter">Average <small>(w2)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='week2-wind'>
		      <td><%= link_to mountain, mountain_path(mountain) %></td>
		      <td><%= Mountain.find_by(city: mountain).state.name %></td>
		      <td><%= Total.wind_high(forecast) %><small> mi/h </small></td>
		      <td><%= Total.wind_low(forecast) %><small> mi/h </small></td>
		      <td><%= Total.wind_dir(forecast) %></td>
		      <td><%= Total.wind_avg(forecast) %><small> mi/h </small></td>
		  	</tr>
			<% end %>
	  </tbody>
</table>
