<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Temp</th>
      <th>Pressure</th>
      <th>Humidity</th>
      <th>Weather</th>
      <th>Speed</th>
      <th>Wind Direction</th>
      <th>Clouds</th>
      <th>Snow</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <th scope="row"><%= forecast.day %></th>
        <td><%= forecast.temp.day_temp %> <button class="temp-details btn btn-info btn-xs">Details</button></td>
        <td><%= forecast.pressure %></td>
        <td><%= forecast.humidity %></td>
        <td><%= image_tag "http://openweathermap.org/img/w/#{forecast.weather.icon}.png" %></td>
        <td><%= forecast.speed %></td>
        <td><%= forecast.wind_dir %></td>
        <td><%= forecast.clouds %></td>
        <td><%= forecast.snow %></td>
      </tr>

  </tbody>
</table>

<div class='temp-details-table'>
  <%= render partial: 'mountains/detail_weather', locals: {forecast: forecast} %>
</div>