<table data-toggle='table' class="table table-hover table-bordered week1">
	<%= render partial: 'mountains/weather_cat' %>
	  <thead>
	    <tr>
	      <th data-field="mountain" data-sortable="true">Mountain</th>
	      <% @forecasts.first.second.each_with_index do |forecast, index| %>
		      <th data-field=<%= "day" + (index + 1).to_s %> data-sortable="true"><%= forecast.day %></th>
        <% end %>
	      <th data-field="h" data-sortable="true">High</th>
	      <th data-field="l" data-sortable="true">Low</th>
	      <th data-field="t" data-sortable="true">Total</th>
	      <th data-field="a" data-sortable="true">Average</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @forecasts.each do |mountain, forecast| %>
		    <tr class='snow'>
		      <td><%= mountain %>: Snow</td>
		      <% forecast.each_with_index do |day, index| %>
		      	<td><%= day.snow %> mm <%= index %> </td>
		      <% end %>
		      <td>High</td>
		      <td>Low</td>
		      <td>Total</td>
		      <td>Average</td>
		    </tr>
			<% end %>
	  </tbody>
</table>
