<table data-toggle='table' data-search='true' data-show-columns='true' class="table table-hover table-bordered snow-totals-2-weeks">
	<caption class='snow'>Snow Totals over 16 day period (mm/3h)</caption>
	  <thead>
	    <tr>
	    	<th data-field="total-mountain" data-sortable="true">Total Mountain <%= category %></th>
	      <th data-field="total-high" data-sortable="true">High</th>
	      <th data-field="total-low" data-sortable="true">Low</th>
	      <th data-field="total-total" data-sortable="true">Total</th>
	      <th data-field="total-average" data-sortable="true">Average</th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='snow-total'>
		      <td><%= link_to mountain, mountain_path(mountain) %></td>
		      <td><%= Total.max_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
