<table data-toggle='table' data-sort-name="week1-snow" data-sort-order="asc" class="table table-hover table-bordered week1-snow-totals">
	<caption class='week1-snow'>Snow Totals over first 8 day period (mm/3h) - <small>(<%= Days.display_days_week1(forecasts.first.second) %>)</small></caption>
	  <thead>
	    <tr>
	    	<th data-field="week1-mountain" data-sortable="true">Week one mountains <%= category %> totals</th>
	      <th data-field="week1-high" data-sortable="true">High <small>(w1)</small></th>
	      <th data-field="week1-low" data-sortable="true">Low <small>(w1)</small></th>
	      <th data-field="week1-total" data-sortable="true">Total <small>(w1)</small></th>
	      <th data-field="week1-average" data-sortable="true">Average <small>(w1)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='week1-snow'>
		      <td><%= link_to mountain, mountain_path(mountain) %></td>
		      <td><%= Total.max_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast[0..7]) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
