<table data-toggle='table' data-search='true' data-show-columns='true' class="table table-hover table-bordered week1-snow-totals">
	<caption class='snow'>Snow Totals over first 8 day period (mm/3h)</caption>
	  <thead>
	    <tr>
	    	<th data-field="week1-mountain" data-sortable="true">Week one mountains <%= category %> totals</th>
	      <th data-field="week1-high" data-sortable="true">High</th>
	      <th data-field="week1-low" data-sortable="true">Low</th>
	      <th data-field="week1-total" data-sortable="true">Total</th>
	      <th data-field="week1-average" data-sortable="true">Average</th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='snow-week1'>
		      <td><%= link_to mountain, mountain_path(mountain) %></td>
		      <td><%= Total.max_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast[0..7]) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
