<table data-toggle='table' data-search='true' data-show-columns='true' class="table table-hover table-bordered week2-snow-totals">
	<caption class='snow'>Snow Totals over second 8 day period (mm/3h)</caption>
	  <thead>
	    <tr>
	    	<th data-field="week2-mountain" data-sortable="true">Week twp mountains <%= category %> totals</th>
	      <th data-field="week2-high" data-sortable="true">High</th>
	      <th data-field="week2-low" data-sortable="true">Low</th>
	      <th data-field="week2-total" data-sortable="true">Total</th>
	      <th data-field="week2-average" data-sortable="true">Average</th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='snow-week2'>
		      <td><%= link_to mountain, mountain_path(mountain) %></td>
		      <td><%= Total.max_snow(forecast[8..15]) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast[8..15]) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast[8..15]) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast[8..15]) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
