<table data-toggle='table' data-search='true' data-show-columns='true' class="table table-hover table-bordered week1">
	<caption class='wind'>Wind Totals (mi/hr)</caption>
	  <thead>
	    <tr>
	      <%= render partial: 'mountains/day_category', locals: { forecasts: forecasts, category: "Wind"} %>
	      <th data-field="wind-high" data-sortable="true">High</th>
	      <th data-field="wind-low" data-sortable="true">Low</th>
	      <th data-field="temp-dir" data-sortable="true">Direction</th>
	      <th data-field="wind-avg" data-sortable="true">Average</th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='wind'>
		      <td><%= mountain %></td>
		      <% forecast.each_with_index do |day, index| %>
		      	<td><%= day.speed %><small> mi/h - <%= day.wind_dir %></small><%= index %></td>
	      	<% end %>
		      <td>High</td>
		      <td>Low</td>
		      <td>Average</td>
		  	</tr>
			<% end %>
	  </tbody>
</table>
