<h1>Mountains in Colorado</h1>

<%= link_to "Show All", mountains_path, class: 'btn btn-info' %>
<%= link_to "Compare Snow", mountains_path(category: 'snow'), class: 'btn btn-info' %>
<%= link_to "Compare Weather", mountains_path(category: 'weather'), class: 'btn btn-info' %>
<%= link_to "Compare Temperatures", mountains_path(category: 'temperature'), class: 'btn btn-info' %>
<%= link_to "Compare Wind", mountains_path(category: 'wind'), class: 'btn btn-info' %>
<br><br>


<% case @category %>
<% when 'snow' %>

	<div class='col-md-8 col-md-offset-2'>
		<%= render partial: 'mountains/total_weekly_snow_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week1_snow_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week2_snow_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-12'>
		<%= render partial: 'mountains/snow_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

<% when 'weather' %>

	<div class='col-md-8 col-md-offset-2'>
		<%= render partial: 'mountains/total_weekly_weather_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week1_weather_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week2_weather_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-12'>
		<%= render partial: 'mountains/weather_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

<% when 'temperature' %>

	<div class='col-md-8 col-md-offset-2'>
		<%= render partial: 'mountains/total_weekly_temp_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week1_temp_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week2_temp_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-12'>
		<%= render partial: 'mountains/temperature_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

<% when 'wind' %>

	<div class='col-md-8 col-md-offset-2'>
		<%= render partial: 'mountains/total_weekly_wind_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week1_wind_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-6'>
		<%= render partial: 'mountains/week2_wind_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>

	<div class='col-md-12'>
		<%= render partial: 'mountains/wind_cat', locals: { forecasts: @forecasts, category: @category } %>
	</div>
	<% else %>

	<div class='col-md-12'>
		<%= render partial: 'mountains/all_categories', locals: { all_mtn_forecasts: @forecasts}%>
	</div>

<% end %>

<script type="text/javascript">
$(document).ready(function() {
	$('[data-toggle="table"]').bootstrapTable();
	$('.fixed-table-loading').hide();
});
</script>