<h1>Mountains in Colorado</h1>

<button class='show-snow'>Show Snow</button>
<%= link_to "Show Snow", mountains_path(category: 'snow'), class: 'btn btn-info' %>
<button class='show-weather'>Show Weather</button>
<button class='show-temperature'>Show Temperature</button>
<button class='show-wind'>Show Wind</button>
<button class='show-all'>Show all</button>
<br><br>


<%= render partial: 'mountains/snow_cat' if @category = 'snow' %>

f

<table class="table table-bordered week2">
<%= render partial: 'mountains/weather_cat' %>
<% @forecasts.each_with_index do |(mountain, forecast), index| %>
	  <thead>
	    <tr>
	    	<% if index < 1 %>
	      <th>2 Weeks</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<th><%= day.day %></td>
	      <% end %>
	      <th>High</th>
	      <th>Low</th>
	      <th>Total</th>
	      <th>Average</th>
	    </tr>
	  </thead>
	  <% end %>
	  <tbody>
	    <tr class='weather'>
	      <th><%= mountain %>: Weather</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<% if index >= 8 %>
	      	<td><%= image_tag "http://openweathermap.org/img/w/#{day.weather.icon}.png" %></td>
	      	<% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='temperature'>
	      <th><%= mountain %>: Temperature</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index >= 8 %>
	      	<td><p><%= day.temp.day_temp %> F˚</p></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='wind'>
	      <th><%= mountain %>: Wind</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index >= 8 %>
	      	<td><%= day.speed %> mi/h - <%= day.wind_dir %></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='snow'>
	      <th><%= mountain %>: Snow</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<td><%= day.snow %> mm</td>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	  </tbody>
<% end %>
	</table>



	<table data-toggle='table' class="table table-hover table-bordered week1">
	<%= render partial: 'mountains/weather_cat' %>
<% @forecasts.each_with_index do |(mountain, forecast), index| %>
	  <thead>
	    <tr>
	    	<% if index < 1 %>
	      <th> Week 1</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<% if index < 8 %>
	      	<th data-field="#{day}" 
            data-sortable="true"><%= day.day %></td>
	      	<% end %>
	      <% end %>
	      <th data-field="h" 
            data-sortable="true">High</th>
	      <th data-field="l" 
            data-sortable="true">Low</th>
	      <th data-field="t" 
            data-sortable="true">Total</th>
	      <th data-field="a" 
            data-sortable="true">Average</th>
	    </tr>
	  </thead>
	  <% end %>
	  <tbody>
			<tr class='weather'>
				<td><%= mountain %>: Weather</td>
				<% forecast.each_with_index do |day, index| %>
					<% if index < 8 %>
						<td><%= image_tag "http://openweathermap.org/img/w/#{day.weather.icon}.png" %></td>
					<% end %>
				<% end %>
				<td>High</td>
				<td>Low</td>
				<td>Total</td>
				<td>Average</td>
			</tr>
	    <tr class='temperature'>
	      <td><%= mountain %>: Temperature</td>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index < 8 %>
	      	<td><p><%= day.temp.day_temp %> F˚</p></td>
	      <% end %>
	      <% end %>
	      <td></td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='wind'>
	      <td><%= mountain %>: Wind</td>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index < 8 %>
	      	<td><%= day.speed %> mi/h - <%= day.wind_dir %></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='snow'>
	      <td><%= mountain %>: Snow</td>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index < 8 %>
	      	<td><%= day.snow %> mm</td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	  </tbody>
<% end %>
	</table>


<table class="table table-bordered week2">
<%= render partial: 'mountains/weather_cat' %>
<% @forecasts.each_with_index do |(mountain, forecast), index| %>
	  <thead>
	    <tr>
	    	<% if index < 1 %>
	      <th> Week 2</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<% if index >= 8 %>
	      	<th><%= day.day %></td>
	      	<% end %>
	      <% end %>
	      <th>High</th>
	      <th>Low</th>
	      <th>Total</th>
	      <th>Average</th>
	    </tr>
	  </thead>
	  <% end %>
	  <tbody>
	    <tr class='weather'>
	      <th><%= mountain %>: Weather</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<% if index >= 8 %>
	      	<td><%= image_tag "http://openweathermap.org/img/w/#{day.weather.icon}.png" %></td>
	      	<% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='temperature'>
	      <th><%= mountain %>: Temperature</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index >= 8 %>
	      	<td><p><%= day.temp.day_temp %> F˚</p></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='wind'>
	      <th><%= mountain %>: Wind</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index >= 8 %>
	      	<td><%= day.speed %> mi/h - <%= day.wind_dir %></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr class='snow'>
	      <th><%= mountain %>: Snow</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index >= 8 %>
	      	<td><%= day.snow %> mm</td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	  </tbody>
<% end %>
	</table>


	<table class="table table-bordered total both-weeks">
<% @forecasts.each_with_index do |(mountain, forecast)| %>
	  <thead>
	    <tr>
	      <th><%= mountain %></th>
	      <th class='center-text'>Week One</th>
	      <th class='center-text'>Week Two</th>
	      <th clsss='center-text'>Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th></th>
	      <td>
	      	<div class="col-md-3">
	      		High
	      	</div>
	      	<div class="col-md-3">
	      		Low
	      	</div>
	      	<div class="col-md-3">
	      		Total
	      	</div>
	      	<div class="col-md-3">
	      		Average
	      	</div>
	      	<div class="col-md-3">
	      		99
	      	</div>
	      	<div class="col-md-3">
	      		99
	      	</div>
	      	<div class="col-md-3">
	      		9999
	      	</div>
	      	<div class="col-md-3">
	      		9099
	      	</div>

	      </td>
	      <td>
	      	<div class="col-md-3">
	      		High
	      	</div>
	      	<div class="col-md-3">
	      		Low
	      	</div>
	      	<div class="col-md-3">
	      		Total
	      	</div>
	      	<div class="col-md-3">
	      		Average
	      	</div>
	      </td>
	      <td>
	      	<div class="col-md-3">
	      		High
	      	</div>
	      	<div class="col-md-3">
	      		Low
	      	</div>
	      	<div class="col-md-3">
	      		Total
	      	</div>
	      	<div class="col-md-3">
	      		Average
	      	</div>
	      </td>
	    </tr>
	  </tbody>
<% end %>
	</table>