<h1>Mountains in Colorado</h1>

<% @forecasts.each_with_index do |(mountain, forecast)| %>
	<table class="table table-bordered week1">
	  <thead>
	    <tr>
	      <th><%= mountain %> week 1</th>
	      <th>1</th>
	      <th>2</th>
	      <th>3</th>
	      <th>4</th>
	      <th>5</th>
	      <th>6</th>
	      <th>7</th>
	      <th>8</th>
	      <th>High</th>
	      <th>Low</th>
	      <th>Total</th>
	      <th>Average</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th>Weather</th>
	      <% forecast.each_with_index do |day, index| %>
	      	<% if index < 8 %>
	      	<td><%= image_tag "http://openweathermap.org/img/w/#{day.weather.icon}.png" %></td>
	      	<% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr>
	      <th>Temperature</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index < 8 %>
	      	<td><p>Day: <%= day.temp.day_temp %>F˚</p><p>Night: <%= day.temp.night_temp %>F˚</p></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr>
	      <th>Wind</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index < 8 %>
	      	<td><%= day.speed %> mi/h - <%= day.wind_dir %></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr>
	      <th>Snow</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index < 8 %>
	      	<td><%= day.snow %> %</td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	  </tbody>
	</table>
<% end %>

<% @forecasts.each_with_index do |(mountain, forecast)| %>
	<table class="table table-bordered week2">
	  <thead>
	    <tr>
	      <th><%= mountain %> week 2</th>
	      <th>9</th>
	      <th>10</th>
	      <th>11</th>
	      <th>12</th>
	      <th>13</th>
	      <th>14</th>
	      <th>15</th>
	      <th>16</th>
	      <th>High</th>
	      <th>Low</th>
	      <th>Total</th>
	      <th>Average</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th>Weather</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index > 8 %>
	      	<td><%= image_tag "http://openweathermap.org/img/w/#{day.weather.icon}.png" %></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr>
	      <th>Temperature</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index > 8 %>
	      	<td><p>Day: <%= day.temp.day_temp %>F˚</p><p>Night: <%= day.temp.night_temp %>F˚</p></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr>
	      <th>Wind</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index > 8 %>
	      	<td><%= day.speed %> mi/h - <%= day.wind_dir %></td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	    <tr>
	      <th>Snow</th>
	      <% forecast.each_with_index do |day, index| %>
	      <% if index > 8 %>
	      	<td><%= day.snow %> %</td>
	      <% end %>
	      <% end %>
	      <td>High</td>
	      <td>Low</td>
	      <td>Total</td>
	      <td>Average</td>
	    </tr>
	  </tbody>
	</table>
<% end %>



<% @forecasts.each_with_index do |(mountain, forecast)| %>
	<table class="table table-bordered total both-weeks">
	  <thead>
	    <tr>
	      <th><%= mountain %> 2 Weeks</th>
	      <th class='center-text'>Week One</th>
	      <th class='center-text'>Week Two</th>
	      <th clsss='center-text'>Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th></th>
	      <td>
	      	<div class="col-md-3">
	      		High
	      	</div>
	      	<div class="col-md-3">
	      		Low
	      	</div>
	      	<div class="col-md-3">
	      		Total
	      	</div>
	      	<div class="col-md-3">
	      		Average
	      	</div>
	      	<div class="col-md-3">
	      		99
	      	</div>
	      	<div class="col-md-3">
	      		99
	      	</div>
	      	<div class="col-md-3">
	      		9999
	      	</div>
	      	<div class="col-md-3">
	      		9099
	      	</div>

	      </td>
	      <td>
	      	<div class="col-md-3">
	      		High
	      	</div>
	      	<div class="col-md-3">
	      		Low
	      	</div>
	      	<div class="col-md-3">
	      		Total
	      	</div>
	      	<div class="col-md-3">
	      		Average
	      	</div>
	      </td>
	      <td>
	      	<div class="col-md-3">
	      		High
	      	</div>
	      	<div class="col-md-3">
	      		Low
	      	</div>
	      	<div class="col-md-3">
	      		Total
	      	</div>
	      	<div class="col-md-3">
	      		Average
	      	</div>
	      </td>
	    </tr>
	  </tbody>
	</table>
<% end %>