
<div class="page-header">
  <h1><%= @mountain.city %>  <small> <%= @mountain.state %>, <%= @mountain.country %> </small></h1>
</div>



  	<% @forecasts.each do |forecast| %>
  	  <div class="panel panel-info"> 
	        <div class="panel-heading clickable">
	            <h3 class="panel-title"><%= forecast.day %>
	            <span class='float-right'><%= image_tag "http://openweathermap.org/img/w/#{forecast.weather.icon}.png" %><i class="glyphicon glyphicon-minus"></i></span></h3>
	        </div>
	        <div class="panel-body">
	        	<div class='container-fluid'>
		        	<%= render partial: 'mountains/full_weather', locals: {forecast:forecast} %>
		        </div>
	        </div>
	    </div>
    <% end %>

  </tbody>
</table>