<table data-toggle='table' data-sort-name="all-snow" data-sort-order="desc" data-search='true' data-show-columns='true' class="table table-hover table-bordered all-snow">
	<caption class='all-snow'><h3>Snow Totals (mm/3h)</h3></caption>
	  <thead>
	    <tr>
	      <th data-field="snow-mountain" data-sortable="true">Mountain <%= category %></th>
	      <th data-field="total-state" data-sortable="true">State</th>
				<% forecasts.first.second.each_with_index do |forecast, index| %>
					<th data-field=<%= "day" + (index).to_s %> data-sortable="true" data-sorter="totalSorter"><%= forecast.day %></th>
				<% end %>
	      <th data-field="high" data-sortable="true" data-sorter="totalSorter">High</th>
	      <th data-field="low" data-sortable="true" data-sorter="totalSorter">Low</th>
	      <th data-field="total" data-sortable="true" data-sorter="totalSorter">Total</th>
	      <th data-field="average" data-sortable="true" data-sorter="totalSorter">Average</th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain1, forecast| %>
		    <tr class='all-snow'>
		    	<td><%= link_to mountain.city, mountain_path(mountain1) %></td>
		      <td><%= Mountain.find_by(city: mountain).state.name %></td>
		      <% forecast.each_with_index do |day, index| %>
		      	<td><%= day.snow %><small> mm </small></td>
		      <% end %>
		      <td><%= Total.max_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
