<table data-toggle='table' data-sort-name="total-snow" data-sort-order="desc" data-search='true' class="table table-hover table-bordered total-snow">
	<caption class='total-snow'><h3>Snow Totals over 16 day period (mm/3h) - <small>(<%= Days.display_all(forecasts.first.second) %>)</small></h3></caption>
	  <thead>
	    <tr>
	    	<th data-field="total-mountain" data-sortable="true">Total Mountain <%= category %></th>
	    	<th data-field="total-state" data-sortable="true">State</th>
	      <th data-field="total-high" data-sortable="true" data-sorter="totalSorter">High <small>(w1,w2)</small></th>
	      <th data-field="total-low" data-sortable="true" data-sorter="totalSorter">Low <small>(w1,w2)</small></th>
	      <th data-field="total-total" data-sortable="true" data-sorter="totalSorter">Total <small>(w1,w2)</small></th>
	      <th data-field="total-average" data-sortable="true" data-sorter="totalSorter">Average <small>(w1,w2)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain1, forecast| %>
		    <tr class='total-snow'>
		    	<% mountain = Mountain.find_by(city: mountain1) %>
		      <td><%= link_to mountain.city, mountain_path(mountain.id) %></td>
		      <td><%= link_to mountain.state.name, state_path(mountain.state.id)%></td>
		      <td><%= Total.max_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
