<table data-toggle='table' data-sort-name="week1-snow" data-sort-order="desc" data-search='true' class="table table-hover table-bordered week1-snow">
	<caption class='week1-snow'><h3>Snow Totals over first 8 day period (mm/3h) - <small>(<%= Days.display_days_week1(forecasts.first.second) %>)</small></h3></caption>
	  <thead>
	    <tr>
	    	<th data-field="week1-mountain" data-sortable="true">Week one mountains <%= category %> totals</th>
	    	<th data-field="total-state" data-sortable="true">State</th>
	      <th data-field="week1-high" data-sortable="true" data-sorter="totalSorter">High <small>(w1)</small></th>
	      <th data-field="week1-low" data-sortable="true" data-sorter="totalSorter">Low <small>(w1)</small></th>
	      <th data-field="week1-total" data-sortable="true" data-sorter="totalSorter">Total <small>(w1)</small></th>
	      <th data-field="week1-average" data-sortable="true" data-sorter="totalSorter">Average <small>(w1)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain1, forecast| %>
		    <tr class='week1-snow'>
		      <td><%= link_to mountain.city, mountain_path(mountain1) %></td>
		      <td><%= Mountain.find_by(city: mountain).state.name %></td>
		      <td><%= Total.max_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.min_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.total_snow(forecast[0..7]) %><small> mm </small></td>
		      <td><%= Total.average_snow(forecast[0..7]) %><small> mm </small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
