<table data-toggle='table' data-sort-name="all-weather" data-sort-order="desc" data-search='true' data-show-columns='true' class="table table-hover table-bordered all-weather">
	<caption class='all-weather'><h3>Weather Totals</h3></caption>
	  <thead>
	    <tr>
	      <th data-field="mountain" data-sortable="true">Mountain <%= category %></th>
				<% forecasts.first.second.each_with_index do |forecast, index| %>
					<th data-field=<%= "day" + (index).to_s %> data-sortable="true" data-sorter="totalSorter"><%= forecast.day %></th>
				<% end %>
	      <th data-field="mostly" data-sortable="true">Mostly</th>
	      <th data-field="snow-days" data-sortable="true">Snow Days</th>
	      <th data-field="sunny-days" data-sortable="true">Sunny Days</th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='all-weather'>
		      <td><%= link_to mountain, mountain_path(Mountain.find_by(city: mountain).id) %></td>
		      <% forecast.each_with_index do |day, index| %>
		      	<td><%= image_tag "http://openweathermap.org/img/w/#{day.weather.icon}.png" %></td>
	      	<% end %>
	      	<% icon = Total.mostly(forecast) %>
		      <td><%= image_tag "http://openweathermap.org/img/w/#{icon}.png" %></td>
		      <td><%= Total.snow_days(forecast) %></td>
		      <td><%= Total.sunny_days(forecast) %></td>
		  	</tr>
			<% end %>
	  </tbody>
</table>
