<table data-toggle='table' data-sort-name="week2-temp" data-sort-order="desc" data-search='true' ata-search='true' class="table table-hover table-bordered week2-temp">
	<caption class='week2-temp'><h3>Temperature Totals over second 8 day period (F˚) - <small>(<%= Days.display_days_week2(forecasts.first.second) %>)</small></h3></caption>
	  <thead>
	    <tr>
	    	<th data-field="total-mountain" data-sortable="true">Week two mountains <%= category %> totals</th>
	    	<th data-field="total-state" data-sortable="true">State</th>
	      <th data-field="temp-high" data-sortable="true" data-sorter="totalSorter">High <small>(w2)</small></th>
	      <th data-field="temp-low" data-sortable="true" data-sorter="totalSorter">Low <small>(w2)</small></th>
	      <th data-field="temp-avg" data-sortable="true" data-sorter="totalSorter">Average <small>(w2)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='week2-temp'>
		    	<% mountain = Mountain.find_by(city: mountain) %>
		      <td><%= link_to mountain, mountain_path(mountain.id) %></td>
		      <td><%= mountain.state.name %></td>
		      <td><%= Total.temp_high(forecast) %><small> F˚</small></td>
		      <td><%= Total.temp_low(forecast) %><small> F˚</small></td>
		      <td><%= Total.temp_avg(forecast) %><small> F˚</small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
