<table data-toggle='table' data-sort-name="week1-temp" data-sort-order="desc" class="table table-hover table-bordered week1-temp">
	<caption class='week1-temp'>Temperature Totals over first 8 day period (F˚) - <small>(<%= Days.display_days_week1(forecasts.first.second) %>)</small></caption>
	  <thead>
	    <tr>
	    	<th data-field="total-mountain" data-sortable="true">Week one mountains <%= category %> totals</th>
	      <th data-field="temp-high" data-sortable="true" data-sorter="totalSorter">High <small>(w1)</small></th>
	      <th data-field="temp-low" data-sortable="true" data-sorter="totalSorter">Low <small>(w1)</small></th>
	      <th data-field="temp-avg" data-sortable="true" data-sorter="totalSorter">Average <small>(w1)</small></th>
	    </tr>
	  </thead>
	  <tbody>
			<% forecasts.each do |mountain, forecast| %>
		    <tr class='week1-temp'>
		      <td><%= link_to mountain, mountain_path(mountain) %></td>
		      <td><%= Total.temp_high(forecast) %><small> F˚</small></td>
		      <td><%= Total.temp_low(forecast) %><small> F˚</small></td>
		      <td><%= Total.temp_avg(forecast) %><small> F˚</small></td>
		    </tr>
			<% end %>
	  </tbody>
</table>
